:root {
    --color-brand: #819b57;
}

    :root {
        --primary-color: #FAF4EA;
    }
* {
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FAF4EA;
    color: #31261A;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.hidden {
    display: none;
}

h1, h2, h3, h4, h5, p {
    margin-top: 0;
}

.sectione {
    padding-top: 48px;
    padding-bottom: 0;
}

.modal-btn-open {
    color: #FAF4EA;
    font-weight: bold;
    background-color: var(--color-brand);
    border: 2px solid #819B57;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px 32px;
}

.modal-btn-open:hover {
    background-color: transparent;
    color: #465929;
}

/* Modal */
.backdrop{
    position:fixed;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    transition: opacity .3s, visibility .3s;
}

.modal{
    border-radius: 32px;
    padding: 128px;
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: #FAF4EA;
    overflow-y: auto;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form-field{
    margin-bottom: 32px;
}

.label{
    display: block;
}

.input{
    padding: 16px 42px;
    width: 100%;
    border: 1px solid #a28268;
    border-radius: 8px;
    background-color: transparent;
}

.submit-modal{
    color: #FAF4EA;
    width: 238px;
    height: 59px;
    font-weight: bold;
    background-color: var(--color-brand);
    border: 2px solid #819B57;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.modal-btn-close {
    background-image: url(courses.img/x.svg);
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 32px;
    height: 32px;
}

.call-order-text{
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0;
}

.text-modal{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.format-card {
    height: 444px;
    border: 1px solid lightgray;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
    padding: 24px;
}

.formatsname{
    display: flex;
    justify-content: center;
}

.flexbasis{
    flex-basis: calc(100% - 40px / 3);
    flex-wrap: wrap;
}

.arrow-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #31261A;
    cursor: pointer;
}

.arrow-button.left{
    transform: rotate(0.5turn);
}

.arrow-button:hover{
    background-color: #31261A;
    fill: #FAF4EAB2;
}

.format-list{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.link {
    color: #FAF4EA;
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
}

.header-cont{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 103px;
    padding-top: 33.5px;
    padding-right: 87px;
}

.blackopacity{
    background: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%);
}

.format-card.wal {
    background-image: url(courses.img/11.jpg);
}

.format-card.hor{
    background-image: url(courses.img/22.jpg);
}

.format-card.bar{
    background-image: url(courses.img/33.jpg);
}

.bgimg {
    background-image: url("courses.img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.navigation{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}

.links{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

.traditionalsec {
    padding-top: 96px;
}

.hero-section {
    text-align: center;
    color: #FAF4EA;
    font-size: 128px;
    font-weight: 900;
    line-height: 192px;
    letter-spacing: 0;
    padding: 272px 0;
    margin-bottom: 0;
}

.tradtitul {
    margin-bottom: 42px;
    max-width: 710px;
}

.chef-sec {
    margin-bottom: 80px;
}

.formssec {
    margin-bottom: 80px;
}

.jointoweb {
    margin-bottom: 0;
    padding-bottom: 0;
}

.hero-section span {
    color: #819B57FF;
}

.advantegas-sectione{
    display: flex;
    background-color: var(--color-brand);
    padding: 16px 0 16px 0;
}

.advantegas-item{
    font-size: 20px;
    font-weight: 300;
}

.wordbackground {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    gap: 40px;
    color: #FAF4EA;
}

.global-traditional{
    display: flex;
    justify-content: center;
    gap: 100px
}

.sectione-titul {
    position: relative;
    max-width: 520px;
    color: #31261A;
    font-size: 64px;
}

.sectione-titul.centered{
    text-align: center;
    margin: 0 auto;
}

.chef-list{
    display: flex;
    gap: 30px;
    margin-right: 84px;
    margin-left: 100px;
    margin-top: 80px;
}

.chefs-item{
    flex-basis: calc( (100% - 30px) / 2);
}

.chefs-card{
    display: flex;
    gap: 30px;
}

.photo-chefs{
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 #FAF4EA, -16px 16px 0 2px #A18268;
}

.formats-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-left: 100px;
    margin-right: 100px;
}

.formatsname.centered{
    margin-bottom: 80px;
}

.line-chefs::after,
.line-chefs::before {
    content: '';
    display: block;
    width: 352px;
    height: 2px;
    background-color: #CFCFBC;
}

.line-chefs::before{
    position: absolute;
    left: -330px;
    bottom: 35px;
}

.line-chefs::after {
    position: relative;
    right: -500px;
    bottom: 35px;
}

.cchef {
    color: #465929;
}

.shbk {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
}

.shbk1{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    width: 711px;
    height: 108px;
}

.contact-container{
    display: flex;
    gap: 32px;
    padding-bottom: -150px;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.joinss{
    max-width: 700px;
    font-size:64px;
}

.contact-map{
width: 600px;
height: 600px;
margin-right: 100px;
}

.shbk span{
    font-weight: 600;
    text-transform: uppercase;
    color: #819b57;
}

.shbk1 span{
    font-weight: 600;
    color: #819B57;
}

h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0;
    text-align: left;
}

.opis{
    margin-top: 260px;
    color: #FAF4EA;
    font-size: 18px;
    max-width: 300px;
}

.iioo{
    color: #FAF4EA;
    font-size: 24px;
    position: absolute;
    top: 2700px;
}

.addres-link{
    color: #FAF4EA;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.icon{
  fill: #FAF4EA;
}

.icon:hover{
    fill: #819B57;
}

.footer{
    background-image: url("courses.img/footer-need.png");
    background-color: #31261A;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-container{
    display: flex;
    margin-left: 110px;
    margin-right: 110px;
    padding-top: 32px;
    gap: 10px;
}

.footer-navigation{
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-address{
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.foooter-logo{
    flex-grow: 1;
}

.footer-menu{
    flex-grow: 1;
}

.nav-menu{
    flex-grow: 1;
}

.addres-info{
    flex-grow: 1;
}

.daan {
    color: #A18268;
    font-size: 14px;
}
